.the-recipe-info-card {
  @include text($type: $Montserrat, $weight: 500, $color: $gray-1, $size: 10px, $height: 1.22);
  margin-top: 24px;

  @media (min-width: $breakpt) {
    margin-top: 0;
    position: sticky;
    top: 40px;

    border: 1px solid red;
  }
  
  &-number-of {
    .text-2 {
      color: $orange;
    }
  }
  
  &-little-data {
    display: flex;
    margin-top: 20px;

    @media (min-width: $breakpt) {
      flex-direction: column;
    }
  }
  
  &-data-item {
    display: grid;
    grid-template-columns: 17px auto;
    margin: 0 42px 0 0;
    
    &-img {
      padding-top: .72px;
      
      svg {
        width: 100%;
        
        .coloreable {
          fill: $gray-2;
        }
      }
    }
    
    &-text {
      .text-1 {
        margin-left: 5px;
        font-size: 8px;
        font-weight: 700;
        color: $gray-4;
      }
      
      .text-2 {
        margin-left: 5px;
      }
    }
  }
  
  &-number-of {
    svg {
      .coloreable {
        fill: $orange;
      }
    }
  }
}