@import '../../global';

.ingredient-list-point-component {
  margin-right: 8px;
  width: 21px;
  height: 21px;
  border: 1px solid $gray-6;
  border-radius: 4px;
  transition: background-color 0.1s;

  @media (min-width: $breakpt) {
    margin-right: 17px;
  }

  &:hover {
    background-color: $gray-3;
  }
}
