// mixin text($size: 14px, $height: 1.78, $weight: normal, $spacing: 1, $style: normal, $color: $gray-1, $type: $Montserrat)

.hero{
  &-text {
    &-title {
      @include text($size: 24px, $height: 1.33, $type: $PlayfairDisplay, $weight: 700, $color: black);

      @media (min-width: $breakpt) {
        font-size: 48px;
      }
    }

    &-paragraph {
      display: grid;
      grid-template-columns: 13px auto;
      margin-top: 12px;

      &-icon {

      }

      &-content {
        margin: 0 0 0 12px;

        @media (min-width:$breakpt){
          max-width: 592px;
        }

        @include text($height: 1.22, $weight: 500, $style: italic, $color:$gray-2);
      }
    }
  }

  &-img {
    margin-top: 22px;

    @media (min-width: $breakpt) {
      margin-top: 43px;
    }

    img {
      border-radius: 12px;
      width: 100%;
    }
  }
}
