body {
  background: $gray-1;
}

.layout{
  border-radius: 12px;
  background: $gray-5;
  padding: 32px 0 20px;
  min-height: 100vh;
  box-sizing: border-box;

  @media (min-width: $breakpt) {
    padding-top: 52px;
  }

  .content-card {
    padding: 0 12px;
    width: 100%;
    max-width: 993px;
    margin: 0 auto;
  }
}
