@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$PlayfairDisplay: 'Playfair Display', 'serif';
$Montserrat: 'Montserrat', 'sans-serif';

@mixin text($size: 14px, $height: 1.78, $weight: normal, $spacing: normal, $style: normal, $color: $gray-1, $type: $Montserrat){
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  letter-spacing: $spacing;
  font-style: $style;
  color: $color;
  font-family: $type;
}
